<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiangfendou.loladmin.mapper.SysMenuMapper">

    <select id="searchUserList" resultType="com.jiangfendou.loladmin.entity.SysUser">
        SELECT
            t3.username,
            t3.id
        FROM
            sys_role_menu t1
        INNER JOIN sys_user_role t2 ON t1.role_id = t2.role_id AND t2.is_deleted = 0
        INNER JOIN sys_user t3 ON t2.user_id = t3.id AND t3.is_deleted = 0
        WHERE
            t1.is_deleted = 0
        AND
            t1.menu_id = #{menuId}
    </select>

    <select id="getNavMenuIds" resultType="java.lang.Long">
        SELECT DISTINCT
            t2.menu_id
        FROM sys_user_role t1
        LEFT JOIN sys_role_menu t2 ON t1.role_id = t2.role_id AND t2.is_deleted = 0
        WHERE
            t1.is_deleted = 0
        AND
            t1.user_id = #{userId}
    </select>

    <update id="updateMenu" parameterType="com.jiangfendou.loladmin.model.request.UpdateMenuRequest">
        UPDATE sys_menu
        <trim prefix="set" suffixOverrides=",">
            <if test="updateMenuRequest.parentId != null">
                parent_id = #{updateMenuRequest.parentId},
            </if>
            <if test="updateMenuRequest.name !=null || updateMenuRequest.name != ''">
                `name` = #{updateMenuRequest.name},
            </if>
            <if test="updateMenuRequest.path !=null || updateMenuRequest.path != ''">
                `path` = #{updateMenuRequest.path},
            </if>
            <if test="updateMenuRequest.perms !=null || updateMenuRequest.perms != ''">
                perms = #{updateMenuRequest.perms},
            </if>
            <if test="updateMenuRequest.component !=null || updateMenuRequest.component != ''">
                component = #{updateMenuRequest.component},
            </if>
            <if test="updateMenuRequest.type !=null">
                `type` = #{updateMenuRequest.type},
            </if>
            <if test="updateMenuRequest.icon !=null || updateMenuRequest.icon != ''">
                icon = #{updateMenuRequest.icon},
            </if>
            <if test="updateMenuRequest.orderNum !=null">
                order_num = #{updateMenuRequest.orderNum},
            </if>
            <if test="updateMenuRequest.status !=null">
                status = #{updateMenuRequest.status},
            </if>
            lock_version = lock_version + 1
        </trim>
        <where>
            id = #{updateMenuRequest.id}
        </where>
    </update>
</mapper>
